@font-face {
    font-family: "customFront";
    src: url('./汉仪字酷堂长林体.ttf') format('truetype'),
}
@font-face {
    font-family: "customFront20";
    src: url('./font_20.ttf') format('truetype'),
}
@font-face {
    font-family: "customFront30";
    src: url('./font_30.ttf') format('truetype'),
}